language: java
jdk: openjdk21

cache:
  directories:
    - $HOME/.gradle/caches
    - $HOME/.gradle/wrapper

services:
  - docker

before_install:
  - chmod +x gradlew

script:
  - echo "Testing Travis CI build..."
  - ./gradlew --version
  - ./gradlew clean build --no-daemon

notifications:
  email: false

branches:
  only:
    - main 