# Backend profile & URLs
SPRING_PROFILES_ACTIVE=local
APP_PUBLIC_BASE_URL=http://libraryfsoft.ddns.net
APP_API_BASE_URL=http://libraryfsoft.ddns.net/api/v1
APP_CORS_ALLOWED_ORIGINS=http://libraryfsoft.ddns.net,http://localhost:3000

# Database
POSTGRES_DB=library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka & Zookeeper
KAFKA_PORT=9092
KAFKA_HOST_PORT=29092
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
ZOOKEEPER_PORT=2181

# App ports
APP_PORT=8080
FRONTEND_PORT=3000

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://libraryfsoft.ddns.net/api/v1
NODE_ENV=development

# AI providers (để trống khi commit)
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_EMBEDDING_MODEL=text-embedding-3-large

GEMINI_API_KEY=
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent

COHERE_API_KEY=
COHERE_BASE_URL=https://api.cohere.ai
COHERE_EMBEDDING_MODEL=embed-multilingual-v3.0