spring:
  application:
    name: library-management
  
  # PostgreSQL Database Configuration
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/library}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
  
  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
  
  # Cache Configuration
  cache:
    type: redis
    redis:
      time-to-live: 300000 # 5 minutes
      cache-null-values: false
  
  # Kafka Configuration
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: library-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  # Redis Configuration
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2000ms



# Server Configuration
server:
  port: 8080

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized

# Logging Configuration
logging:
  level:
    com.university.library: INFO
    com.university.library.controller: INFO
    com.university.library.service: INFO
    org.springframework.kafka: INFO
    org.hibernate.SQL: ERROR
    org.hibernate.type.descriptor.sql.BasicBinder: ERROR
    org.hibernate.type.descriptor.sql: ERROR
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} | %msg%n"

# OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method


gemini:
  api-key: AIzaSyAoVorOFX8l6JBgR9CAgG3frAYjnQlpOqg
  base-url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent

openai:
  api-key: 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
  base-url: https://api.openai.com/v1
  embedding-model: text-embedding-3-large

cohere:
  api-key: YO1CuxXz0v6d7xJsarBwIj57WKLddBsvfaXIWFGx
  embedding-model: embed-multilingual-v3.0
  base-url: https://api.cohere.ai





